html,
body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: fit-content;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: fit-content;
}
