.wrap {
  width: 100%;
  height: 100%;

  .header {
    position: relative;
    width: calc(100% - 160px);
    height: 70px;
    padding: 0 80px 0 80px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      box-sizing: border-box;
    }

    .more {
      cursor: pointer;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      user-select: none;
      > img {
        width: 30px;
        height: 30px;
      }
    }

    .search_bar {
      display: flex;
      padding: 0 10px 0 10px;
      align-items: center;
      width: fit-content;
      height: 50px;
      border-bottom: solid 1px #fff;

      > div {
        cursor: pointer;
      }

      > input {
        font-size: 20px;
        color: #fff;
        width: 120px;
        border: none;
        background: transparent;
      }

      > input:focus {
        outline: none;
      }

      .close_hide {
        visibility: hidden;
      }
    }

    .membership_bar {
      display: flex;
      align-items: center;
      width: fit-content;

      > input {
        font-size: 15px;
        color: #fff;
        width: 130px;
        padding: 10px;
        border: none;
        background: transparent;
        margin-right: 10px;
      }

      > input:focus {
        outline: none;
        box-shadow: 0 0 3px 2px #a19f9d;
      }

      > input::placeholder {
        color: #eee;
      }

      > button {
        background: linear-gradient(
          0deg,
          rgba(177, 177, 177, 1) 0%,
          rgba(108, 106, 100, 1) 52%,
          rgba(177, 177, 177, 1) 100%
        );
        box-sizing: border-box;
        padding: 10px;
        font-size: 15px;
        border: none;
        transition: all 0.9s;
        border-radius: 10%;
        cursor: pointer;
      }

      > button:hover {
        box-shadow: 200px 0 0 0 rgba(254, 242, 222, 0.25) inset, -200px 0 0 0 rgba(254, 242, 222, 0.25) inset;
      }

      :nth-child(2) {
        margin-right: 10px;
      }
    }
  }

  .contents {
    display: flex;
    width: 100%;
    height: 100%;

    .left_section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      background-color: rgba(211, 211, 211, 0.1);

      > img {
        border-radius: 3%;
        box-shadow: 10px 10px 10px black;
      }
    }

    .right_section {
      color: #fff;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(211, 211, 211, 0.3);
      line-height: 0;

      .links {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3%;
          box-sizing: border-box;
          margin-top: 15px;
          width: 70%;
          height: 50px;
          transition: all 0.9s;
          cursor: pointer;

          &:nth-child(1) {
            background-color: rgb(51, 51, 51);
          }

          &:nth-child(1):hover {
            box-shadow: 0 50px 0 0 rgba(110, 110, 110, 0.25) inset, 0 -50px 0 0 rgba(110, 110, 110, 0.25) inset;
          }

          &:nth-child(2) {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
          }

          &:nth-child(2):hover {
            box-shadow: 0 50px 0 0 rgba(200, 200, 200, 0.25) inset, 0 -50px 0 0 rgba(200, 200, 200, 0.25) inset;
          }

          > svg,
          img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
        }
      }
      .logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        margin-top: 50px;
      }

      .info {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        margin-top: 100px;
      }
    }
  }
}
